.header-nav {
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(192, 192, 192, 0.36);
  padding-top: 10px;
  padding-bottom: 0;
}



ul li {
  display: inline;
  padding: 15px;
  cursor: pointer;
}



.search {
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align:center;
  margin-top: 20px;
}